description = "Login Layout"

[session]
security = "guest"
redirect = "user/dashboard"
==
<!DOCTYPE html>
<html class="rtl">
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="" name="description" />
        <meta content="themes-lab" name="author" />
        <link rel="shortcut icon" type="image/png" href="{{ logo }}" />
        <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/ui.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/plugins/bootstrap-loading/lada.min.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body class="account rtl" data-page="login">
        {% page %}
        
        <script src="{{ 'assets/plugins/jquery/jquery-1.11.1.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/pages/login-v1.js'|theme }}"></script>

        {% framework extras %}
        {% scripts %}

        <!-- Flash Messages -->
        {% flash %}
            <p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="5">{{ message }}</p>
        {% endflash %}
        <!-- Flash Messages -->
    </body>
</html>