[session]
security = "guest"
redirect = "user/dashboard"
==
<?php
use Backend\Models\BrandSetting;
use Backend\Facades\Backend;
function onStart()
{
   $this['app_name'] = BrandSetting::get('app_name'); 

   if(BrandSetting::getLogo())
   {
        $this['logo'] = BrandSetting::getLogo(); 
   }
   else
   {
        $this['logo'] = Backend::skinAsset('assets/images/frontend-favicon.png');
   }
   
}
?>
==
<!DOCTYPE html>
<html class="rtl">
    <head>
        <meta charset="utf-8">
        <title>{{ app_name }} | {{ this.page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="" name="description" />
        <meta content="themes-lab" name="author" />
        <link rel="shortcut icon" type="image/png" href="{{ logo }}" />
        <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/ui.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body class="account rtl separate-inputs boxed fixed-topbar fixed-sidebar theme-sdtl color-default" data-page="signup">
        {% page %}
        
        <script src="{{ 'assets/plugins/jquery/jquery-1.11.1.min.js'|theme }}"></script>   
        <script src="{{ 'assets/plugins/bootstrap/js/bootstrap.min.js'|theme }}"></script>
        <script src="{{ 'assets/plugins/select2/select2.min.js'|theme }}"></script> <!-- Select Inputs -->  
        <script src="{{ 'assets/js/plugins.js'|theme }}"></script> <!-- Main Plugin Initialization Script -->
        <script src="{{ 'assets/plugins/icheck/icheck.min.js'|theme }}"></script> <!-- Checkbox & Radio Inputs -->
        <script src="{{ 'assets/plugins/jquery-validation/jquery.validate.js'|theme }}"></script> <!-- Form Validation -->
        <script src="{{ 'assets/plugins/jquery-validation/additional-methods.min.js'|theme }}"></script> <!-- Form Validation Additional Methods - OPTIONAL -->

        {% framework extras %}
        {% scripts %}      

        <!-- Flash Messages -->
        {% flash %}
            <p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="5">{{ message }}</p>
        {% endflash %}
        <!-- Flash Messages -->
    </body>
</html>